<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="main container">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="fields">

        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput value="{{position.id}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Market</mat-label>
          <input matInput value="{{position.market}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Strategy Id</mat-label>
          <input matInput value="{{position.strategy_id}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput value="{{position.status}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Stopped</mat-label>
          <input matInput value="{{position.stopped}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Target Cost</mat-label>
          <input matInput value="{{position.target_cost}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entry Cost</mat-label>
          <input matInput value="{{position.entry_cost}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Exit Cost</mat-label>
          <input matInput value="{{position.exit_cost}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entry Amount</mat-label>
          <input matInput value="{{position.entry_amount}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Exit Amount</mat-label>
          <input matInput value="{{position.exit_amount}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entry Price</mat-label>
          <input matInput value="{{position.entry_price}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Exit Price</mat-label>
          <input matInput value="{{position.exit_price}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entry Time</mat-label>
          <input matInput type="datetime-local" value="{{position.entry_time | date: 'yyyy-MM-ddTHH:mm'}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Exit Time</mat-label>
          <input matInput type="datetime-local" value="{{position.exit_time | date: 'yyyy-MM-ddTHH:mm'}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>PnL</mat-label>
          <input matInput value="{{position.pnl}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>ROI</mat-label>
          <input matInput value="{{position.roi}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fee</mat-label>
          <input matInput value="{{position.fee}}" readonly />
        </mat-form-field>

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!loading" class="main container">
  <p>Orders</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-orders></app-orders>
    </mat-card-content>
  </mat-card>
</div>
