<div *ngIf="loading" class="main" style="padding: 2vh">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="main container">
  <p *ngIf="strategies.length === 0" class="text-center">no strategies found</p>

  <table
    mat-table
    *ngIf="strategies.length > 0"
    [dataSource]="strategies"
    class="mat-elevation-z8 strategies-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">{{ element.active }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Market</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>
    <ng-container matColumnDef="exchange">
      <th mat-header-cell *matHeaderCellDef>Exchange</th>
      <td mat-cell *matCellDef="let element">{{ element.exchange }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="/strategy/{{ element.id }}">
          <mat-icon class="icon-display" fontIcon="info"></mat-icon>
        </button>
        <button type="button" (click)="deleteStrategy(element.id)">
          <mat-icon class="icon-display" fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-button-toggle routerLink="/strategy/0" style="width: 100%">
    <mat-icon class="icon-display" fontIcon="add"></mat-icon>
  </mat-button-toggle>
</div>
