<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="main container">
  <p *ngIf="strategies.length === 0" class="text-center">no strategies found</p>

  <table mat-table *ngIf="strategies.length > 0" [dataSource]="strategies" class="mat-elevation-z8 strategies-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/strategy/{{ element.id }}">{{ element.id }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">{{ element.active }}</td>
    </ng-container>
    <ng-container matColumnDef="subscribed">
      <th mat-header-cell *matHeaderCellDef>Subscribed</th>
      <td mat-cell *matCellDef="let element">{{ element.subscribed }}</td>
    </ng-container>
    <ng-container matColumnDef="timeframe">
      <th mat-header-cell *matHeaderCellDef>Timeframe</th>
      <td mat-cell *matCellDef="let element">{{ element.timeframe }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ StrategyType[element.type] }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Market</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>
    <ng-container matColumnDef="exchange">
      <th mat-header-cell *matHeaderCellDef>Exchange</th>
      <td mat-cell *matCellDef="let element">{{ element.exchange }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">

        <div class="actions">

          <button mat-icon-button class="icon-display" type="button" color="primary" title="Backtest"
            routerLink="/backtest/{{ element.id }}">
            <mat-icon>history</mat-icon>
          </button>

          <button mat-icon-button class="icon-display" type="button" color="primary"
            (click)="updateSubscription(element)" title="Unsubscribe" *ngIf="element.subscribed">
            <mat-icon>heart_broken</mat-icon>
          </button>

          <button mat-icon-button class="icon-display" type="button" color="primary"
            (click)="updateSubscription(element)" title="Subscribe" *ngIf="!element.subscribed">
            <mat-icon>favorite</mat-icon>
          </button>

          <button mat-icon-button class="icon-display" type="button" color="primary" (click)="updateActive(element)"
            title="Deactivate" *ngIf="element.active">
            <mat-icon>stop</mat-icon>
          </button>

          <button mat-icon-button class="icon-display" type="button" color="primary" (click)="updateActive(element)"
            title="Activate" *ngIf="!element.active">
            <mat-icon>play_arrow</mat-icon>
          </button>

          <button mat-icon-button class="icon-display" type="button" color="primary"
            (click)="deleteStrategy(element.id)" title="Delete">
            <mat-icon>delete</mat-icon>
          </button>

        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button mat-raised-button color="primary" routerLink="/strategy/0">
    <mat-icon fontIcon="add"></mat-icon>
  </button>
</div>
