@import "../../media.less";

mat-card {
  width: 100%;
}

mat-slider {
  width: 120px;
}

.fields {
  display: flex;
  justify-content: flex-start;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media @phone {
  .credentials {
    flex-direction: column;
  }
}

.credential {
  padding: 0 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-balance {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 1vh;
}

.mat-column {
  text-align: center;
}

.mat-column-ticker {
  .mat-column;
}

.mat-column-total {
  text-align: right;
}

.mat-column-total_value {
  text-align: right;
}

.pad-right {
  padding-right: 1vh;
}

mat-form-field {
  .pad-right
}
