<div class="main container">

  <p>Change Password</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updatePassword()">
        <div class="fields">
          <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input matInput type="password" name="old_password" formControlName="old_password"
              autocomplete="current-password" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" name="password" formControlName="password" autocomplete="new-password" />
          </mat-form-field>

        </div>

        <div class="button">
          <button mat-raised-button color="primary">Update</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>


  <p>Configure Alerts</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updateAlert()">
        <div class="fields">
          <mat-form-field>
            <mat-label>Telegram Username</mat-label>
            <input matInput name="telegram_username" formControlName="telegram_username" autocomplete="off" />
          </mat-form-field>
        </div>

        <div class="button">
          <button mat-raised-button color="primary">Update</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <p>Risk Parameters</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updateRisk()">
        <div class="fields">
          <p class="pad-right">
            <mat-label>Maximum Risk</mat-label>
            <mat-slider min="0" max="1" step="0.01" discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="max_risk" autocomplete="off" />
            </mat-slider>
          </p>

          <p class="pad-right">
            <mat-label>Cash Reserve</mat-label>
            <mat-slider min="0" max="1" step="0.01" discrete [displayWith]="formatLabel">
              <input matSliderThumb formControlName="cash_reserve" autocomplete="off" />
            </mat-slider>
          </p>
        </div>

        <div class="button">
          <button mat-raised-button color="primary">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <p>Exchange Credentials</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <div *ngIf="loadingCred" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!loadingCred" class="credentials">
        <app-credential class="credential" *ngFor="let credential of credentials" [credential]="credential">
        </app-credential>
      </div>
    </mat-card-content>
  </mat-card>

  <p></p>
  <div style="display: inline-block">
    Inventory
    <div *ngIf="!loadingInv" style="display: inline-block">
      <button class="icon-display" mat-icon-button color="primary" (click)="getInventory()" title="Refresh Balances">
        <mat-icon fontIcon="refresh"></mat-icon>
      </button>
    </div>
  </div>
  <p></p>

  <mat-card appearance="outlined">
    <div *ngIf="loadingInv" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card-content>
      <div *ngIf="!loadingInv && inventory.balances">
        <table mat-table [dataSource]="inventory.balances" class="mat-elevation-z8 inventory-table">
          <ng-container matColumnDef="ticker">
            <th mat-header-cell *matHeaderCellDef>Asset</th>
            <td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="free"> -->
          <!--   <th mat-header-cell *matHeaderCellDef>Free</th> -->
          <!--   <td mat-cell *matCellDef="let element">{{ element.free }}</td> -->
          <!-- </ng-container> -->
          <!-- <ng-container matColumnDef="used"> -->
          <!--   <th mat-header-cell *matHeaderCellDef>Used</th> -->
          <!--   <td mat-cell *matCellDef="let element">{{ element.used }}</td> -->
          <!-- </ng-container> -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Balance</th>
            <td mat-cell *matCellDef="let element">{{ element.total }}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="free_value"> -->
          <!--   <th mat-header-cell *matHeaderCellDef>Free Value</th> -->
          <!--   <td mat-cell *matCellDef="let element">{{ element.free_value | currency }}</td> -->
          <!-- </ng-container> -->
          <!-- <ng-container matColumnDef="used_value"> -->
          <!--   <th mat-header-cell *matHeaderCellDef>Used Value</th> -->
          <!--   <td mat-cell *matCellDef="let element">{{ element.used_value | currency }}</td> -->
          <!-- </ng-container> -->
          <ng-container matColumnDef="total_value">
            <th mat-header-cell *matHeaderCellDef>Value (USDT)</th>
            <td mat-cell *matCellDef="let element">{{ element.total_value | currency }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div class="user-balance">
          <table>
            <tr>
              <td style="padding-right: 1vw">Total Value</td>
              <td>{{ inventory.total_value | currency }}</td>
            </tr>
            <tr>
              <td style="padding-right: 1vw">Reserved in Positions</td>
              <td>{{ inventory.positions_reserved | currency }}</td>
            </tr>
            <tr>
              <td style="padding-right: 1vw">Value in Positions</td>
              <td>{{ inventory.positions_value | currency }}</td>
            </tr>
            <tr>
              <td style="padding-right: 1vw">Net Liquid</td>
              <td>{{ inventory.net_liquid | currency }}</td>
            </tr>
            <tr>
              <td style="padding-right: 1vw">Maximum Risk</td>
              <td>{{ inventory.max_risk | currency }}</td>
            </tr>
          </table>
        </div>

      </div>

    </mat-card-content>
  </mat-card>
</div>
