<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="main container">

  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="updateStrategy()">

        <div class="fields">

          <mat-form-field *ngIf="strategy.id > 0">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" autocomplete="off" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" required autocomplete="off" />
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="strategy.id">
            <mat-label>Signal</mat-label>
            <mat-select formControlName="signal">
              <mat-option [value]="-1"> Sell </mat-option>
              <mat-option [value]="0"> Neutral </mat-option>
              <mat-option [value]="1"> Buy </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let type of StrategyTypes.values" [value]="type">
                {{ StrategyTypes.keys[type] }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Market</mat-label>
            <mat-select formControlName="market_id" required>
              <mat-option *ngFor="let market of markets" [value]="market.id">
                [{{ market.id }}] {{ market.exchange_name }} - {{ market.symbol }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Timeframe</mat-label>
            <mat-select formControlName="timeframe" required>
              <mat-option *ngFor="let timeframe of timeframes" [value]="timeframe">
                {{ timeframe }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Buy Engine</mat-label>
            <mat-select formControlName="buy_engine_id" required>
              <mat-option *ngFor="let engine of engines" [value]="engine.id">
                [{{ engine.id }}] {{ engine.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sell Engine</mat-label>
            <mat-select formControlName="sell_engine_id" required>
              <mat-option *ngFor="let engine of engines" [value]="engine.id">
                [{{ engine.id }}] {{ engine.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Stop Engine</mat-label>
            <mat-select formControlName="stop_engine_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let engine of engines" [value]="engine.id">
                [{{ engine.id }}] {{ engine.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.HYPNOX">
          <mat-form-field>
            <mat-label>Threshold</mat-label>
            <input matInput type="number" formControlName="threshold" autocomplete="off" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput type="text" formControlName="filter" autocomplete="off" />
            <mat-hint>regex</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model" autocomplete="off" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode" required>
              <mat-option value="buy">BUY</mat-option>
              <mat-option value="sell">SELL</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select formControlName="operator" required>
              <mat-option value="gt">&gt;</mat-option>
              <mat-option value="lt">&lt;</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.DD3">
          <mat-form-field>
            <mat-label>MA1 Period</mat-label>
            <input matInput type="number" formControlName="ma1_period" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>MA2 Period</mat-label>
            <input matInput type="number" formControlName="ma2_period" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>MA3 Period</mat-label>
            <input matInput type="number" formControlName="ma3_period" autocomplete="off" />
          </mat-form-field>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.MIXER">
          <mat-form-field>
            <mat-label>Mixed Buy Signal Threshold</mat-label>
            <input matInput type="number" formControlName="buy_threshold" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mixed Sell Signal Threshold</mat-label>
            <input matInput type="number" formControlName="sell_threshold" autocomplete="off" />
          </mat-form-field>
        </div>

        <div *ngIf="strategy.type == StrategyType.MIXER">
          <p>Mixins</p>
          <hr />
          <ng-container formArrayName="mixins">
            <ng-container *ngFor="let mixinForm of mixins.controls; let i = index">
              <form class="mixin-fields" [formGroupName]="i">
                <mat-form-field>
                  <mat-label>Strategy {{ i + 1 }}</mat-label>
                  <mat-select formControlName="strategy_id" required>
                    <mat-option *ngFor="let available_mixin of available_mixins" [value]="available_mixin.id">
                      {{ available_mixin.id }} - {{ available_mixin.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Buy Weight</mat-label>
                  <input matInput type="number" formControlName="buy_weight" autocomplete="off" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Sell Weight</mat-label>
                  <input matInput type="number" formControlName="sell_weight" autocomplete="off" />
                </mat-form-field>
                <button class="icon-display" mat-icon-button type="button" color="primary" (click)="removeMixin(i)"
                  title="Remove Strategy">
                  <mat-icon>delete</mat-icon>
                </button>
              </form>
              <hr />
            </ng-container>
          </ng-container>
          <button class="icon-display" mat-icon-button type="button" color="primary" (click)="addMixin(0, 0, 0)"
            title="Add Strategy">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.BB">
          <mat-form-field>
            <mat-label>Number of Standard Deviations</mat-label>
            <input matInput type="number" formControlName="num_std" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Moving Average Period</mat-label>
            <input matInput type="number" formControlName="ma_period" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="use_ema">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Exponential MA?</mat-label>
          </p>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.MA_CROSS">
          <mat-form-field>
            <mat-label>Fast MA Period</mat-label>
            <input matInput type="number" formControlName="fast_period" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="use_fast_ema">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Exponential Fast MA?</mat-label>
          </p>
          <mat-form-field>
            <mat-label>Slow MA Period</mat-label>
            <input matInput type="number" formControlName="slow_period" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="use_slow_ema">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Exponential Slow MA?</mat-label>
          </p>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.SWAPPERBOX">
          <mat-form-field>
            <mat-label>Signals Table URL</mat-label>
            <input matInput type="text" formControlName="url" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telegram Channel</mat-label>
            <input matInput type="text" formControlName="telegram" autocomplete="off" />
          </mat-form-field>
        </div>

        <div class="fields" *ngIf="strategy.type == StrategyType.WINDRUNNER">
          <mat-form-field>
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="windrunner_model" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Upper Threshold</mat-label>
            <input matInput type="number" formControlName="windrunner_upper_threshold" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lower Threshold</mat-label>
            <input matInput type="number" formControlName="windrunner_lower_threshold" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hypnox Model</mat-label>
            <input matInput type="text" formControlName="hypnox_model" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hypnox Threshold</mat-label>
            <input matInput type="number" formControlName="hypnox_threshold" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hypnox Filter</mat-label>
            <input matInput type="text" formControlName="hypnox_filter" autocomplete="off" />
            <mat-hint>regex</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>BB Number of Standard Deviations</mat-label>
            <input matInput type="number" formControlName="bb_num_std" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>BB Moving Average Period</mat-label>
            <input matInput type="number" formControlName="bb_ma_period" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="bb_use_ema">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Exponential MA?</mat-label>
          </p>
          <mat-form-field>
            <mat-label>MACD Fast Period</mat-label>
            <input matInput type="number" formControlName="macd_fast_period" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>MACD Slow Period</mat-label>
            <input matInput type="number" formControlName="macd_slow_period" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>MACD Signal Period</mat-label>
            <input matInput type="number" formControlName="macd_signal_period" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="macd_use_ema">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Exponential MA?</mat-label>
          </p>
          <mat-form-field>
            <mat-label>ATR Period</mat-label>
            <input matInput type="number" formControlName="atr_period" autocomplete="off" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>ATR MA Mode</mat-label>
            <input matInput type="text" formControlName="atr_ma_mode" autocomplete="off" />
            <mat-hint>rma, ema or sma</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Renko Step</mat-label>
            <input matInput type="number" formControlName="renko_step" autocomplete="off" />
          </mat-form-field>
          <p>
            <mat-slide-toggle formControlName="renko_use_atr">
            </mat-slide-toggle>
            <mat-label style="padding: 1vh">Use ATR?</mat-label>
          </p>
        </div>

        <div class="button">
          <button mat-raised-button color="primary" style="margin-right: 1vh;">Save</button>

          <button mat-raised-button *ngIf="strategy.id > 0" type="button" color="primary"
            (click)="updateSubscription(strategy)">
            <span *ngIf="!strategy.subscribed">Subscribe</span>
            <span *ngIf="strategy.subscribed">Unsubscribe</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="loadingInd" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loadingInd">

    <p></p>

    <app-strategy-performance *ngIf="indicators" [strategy]="strategy"
      [indicators]="indicators"></app-strategy-performance>

    <p></p>

    <app-indicator *ngIf="indicators" [strategy]="strategy" [stopEngine]="stopEngine"
      [indicators]="indicators"></app-indicator>
  </div>

</div>
