<div class="main">
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened>
      <p *ngFor="let strategy of strategies">
        <button mat-button (click)="selectStrategy(strategy)">
          {{ strategy.description }}
        </button>
      </p>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="selected" class="content">
      <p>
        {{ selected.id }} -
        {{ selected.description }}
      </p>

      <p>
        <plotly-plot *ngIf="data" [data]="data" [layout]="layout"></plotly-plot>
      </p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

