<!-- <div *ngIf="summary && summary.length == 0" style="text-align: center;"> -->
<!--   No positions to compute {{ title }}. -->
<!-- </div> -->

<div *ngIf="summary && summary.length > 0" class="accounting-table">
  <table>

    <tr>
      <td colspan="2" style="text-align: center;">
        <h4>{{ title }}</h4>
      </td>
    </tr>

    <tr *ngFor="let item of summary">

      <td *ngIf="item.key == 'sep'" colspan="2">
        <hr>
      </td>
      <td *ngIf="item.key == 'SEP'" colspan="2">
        <hr style="height: 2px; background-color: #000000;">
      </td>

      <td *ngIf="item.key == 'title'" colspan="2" style="text-align: center;">
        <h5>{{ item.value }}</h5>
      </td>

      <td *ngIf="item.key == 'subtitle'" colspan="2" style="text-align: left;">
        <h6>{{ item.value }}</h6>
      </td>

      <td *ngIf="item.key != 'sep' && item.key != 'SEP' && item.key != 'title' && item.key != 'subtitle'"
        style="text-align: left;">
        {{ item.key }}
      </td>
      <td *ngIf="item.key != 'sep' && item.key != 'SEP' && item.key != 'title' && item.key != 'subtitle'"
        style="text-align: right;">
        {{ item.value }}
      </td>
    </tr>
  </table>
</div>
