<p></p>

<div style="display: inline-block">
  Backtest
  <div *ngIf="!loading" style="display: inline-block">
    <button class="icon-display" mat-icon-button color="primary" (click)="getIndicators()" title="Refresh Indicators">
      <mat-icon fontIcon="refresh"></mat-icon>
    </button>
  </div>
</div>

<p></p>

<div class="main container">

  <mat-card appearance="outlined">
    <div *ngIf="loading" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card-content class="container">

      <div *ngIf="!loading && indicators">

        <plotly-plot [config]="plot.config" [data]="plot.data" [layout]="plot.layout" [updateOnlyWithRevision]="true"
          (relayout)="zoom($event)"></plotly-plot>

        <app-perf-summary title="Backtest Summary" [summary]="backtestLog"></app-perf-summary>

        <app-positions-table *ngIf="positions.length > 0" [positions]="positions"></app-positions-table>

      </div>

    </mat-card-content>
  </mat-card>

</div>
