<p></p>

<div style="display: inline-block">
  Indicators
  <div *ngIf="!loading" style="display: inline-block">
    <button class="icon-display" mat-icon-button color="primary" (click)="getIndicators()" title="Refresh Indicators">
      <mat-icon fontIcon="refresh"></mat-icon>
    </button>
  </div>
</div>

<p></p>

<div class="main container">

  <mat-card appearance="outlined">
    <div *ngIf="loading" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card-content class="container">

      <div *ngIf="!loading && indicators">
        <plotly-plot [config]="plot.config" [data]="plot.data" [layout]="plot.layout" [updateOnlyWithRevision]="true"
          (relayout)="zoom($event)"></plotly-plot>

        <p class="text-center">
          -- BACKTEST --
        </p>

        <div class="accounting-table">
          <table>
            <tr *ngFor="let item of backtestLog | keyvalue:keepOriginalOrder">
              <td *ngIf="item.key == 'sep'" colspan="2">
                <hr>
              </td>

              <td *ngIf="item.key != 'sep'" style="text-align: left;">
                {{ item.key }}
              </td>
              <td *ngIf="item.key != 'sep'" style="text-align: right;">
                {{ item.value }}
              </td>
            </tr>
          </table>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

</div>
