<div class="main container" *ngIf="plot">
  <mat-card appearance="outlined">
    <mat-card-content class="container">

      <plotly-plot [config]="plot.config" [data]="plot.data" [layout]="plot.layout" [updateOnlyWithRevision]="true"
        (relayout)="zoom($event)"></plotly-plot>

      <app-perf-summary *ngIf="backtestLog && backtestLog.length > 0" title="Backtest Summary"
        [summary]="backtestLog"></app-perf-summary>

      <app-positions-table *ngIf="positions.length > 0" [positions]="positions"></app-positions-table>

    </mat-card-content>
  </mat-card>
</div>
