<p></p>

<div style="display: inline-block">
  Performance
  <div *ngIf="!loading" style="display: inline-block">
    <button class="icon-display" mat-icon-button color="primary" (click)="getPositions()" title="Refresh Positions">
      <mat-icon fontIcon="refresh"></mat-icon>
    </button>
  </div>
</div>

<p></p>

<div class="main container">

  <mat-card appearance="outlined">
    <div *ngIf="loading" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card-content class="main container">

      <div *ngIf="!loading && positions">
        <div *ngIf="positions.length == 0">
          <p>no positions found</p>
        </div>

        <div *ngIf="positions.length > 0">

          <app-perf-summary [summary]="perfLog"></app-perf-summary>

          <app-positions-table *ngIf="positions.length > 0" [positions]="positions"
            displayMode="compact"></app-positions-table>

        </div>
      </div>

    </mat-card-content>
  </mat-card>

</div>
