.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 0 calc((100% - 1024px) / 2) 0 calc((100% - 1024px) / 2);
}
