@import "../../media.less";

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

@media @desktop {
  .navbar {
      flex-wrap: wrap;
      height: 4vh;
      padding: 0 calc((100% - 1024px) / 2) 0 calc((100% - 1024px) / 2);
  }
}

.menu {
  margin: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.menu-item {
  flex-direction: row-reverse;
}
