@import "media.less";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media @desktop {
  .main {
    display: flex;
    margin: auto;
    max-width: 1024px;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    padding-bottom: 2vh;
  }
}

@media @phone {
  .main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    padding: 1vh;
  }
}

table {
  box-shadow: none !important;
}

.text-center {
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  // height: 100%;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media @phone {
  .fields {
    flex-direction: column;
  }
}

mat-form-field {
  margin-right: 1vh;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.actions {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-display {
    width: 38px !important;
    height: 38px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    // border-radius: 50% !important;

  .mat-icon{
      height:15px !important;
      width:15px !important;
      font-size:15px !important;
  }
}

.accounting-table {
  display: flex;
  justify-content: center;
  text-align: right;
  padding: 1vh;
  td {
    padding-right: 1vw;
  }
}

@media @desktop {
  .accounting-table {
    table {
      width: 65%;
    }
  }
}

