<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="main container">
  <p>Details</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="fields">

        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput value="{{order.id}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Exchange Order Id</mat-label>
          <input matInput value="{{order.exchange_order_id}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Market</mat-label>
          <input matInput value="{{order.market}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Time</mat-label>
          <input matInput type="datetime-local" value="{{order.time | date: 'yyyy-MM-ddTHH:mm'}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput value="{{order.status}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput value="{{order.type}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Side</mat-label>
          <input matInput value="{{order.side}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput value="{{order.price}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput value="{{order.amount}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cost</mat-label>
          <input matInput value="{{order.cost}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Filled</mat-label>
          <input matInput value="{{order.filled}}" readonly />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fee</mat-label>
          <input matInput value="{{order.fee}}" readonly />
        </mat-form-field>

      </div>
    </mat-card-content>
  </mat-card>
</div>
