<form [formGroup]="form" *ngIf="credential" (ngSubmit)="addCredential()">

  <p>
    {{ credential.exchange }}

    <button type="button" (click)="deleteCredential()" *ngIf="credential.api_key">
      <mat-icon class="icon-display" fontIcon="delete"></mat-icon>
    </button>

    <button *ngIf="!credential.api_key">
      <mat-icon class="icon-display" fontIcon="add"></mat-icon>
    </button>

    <button type="button" (click)="activateCredential()" *ngIf="credential.api_key && !credential.active"
      title="reactivate credential">
      <mat-icon class="icon-display" fontIcon="refresh"></mat-icon>
    </button>

    <button type="button" (click)="deactivateCredential()" *ngIf="credential.api_key && credential.active">
      <mat-icon class="icon-display" fontIcon="stop"></mat-icon>
    </button>

  </p>

  <p>
    <mat-form-field>
      <mat-label>API Key</mat-label>
      <input matInput name="api_key" formControlName="api_key" required autocomplete="off" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>API Secret</mat-label>
      <input matInput name="api_secret" formControlName="api_secret" required autocomplete="off" />
    </mat-form-field>
  </p>

</form>
