<form [formGroup]="form" *ngIf="credential" (ngSubmit)="addCredential()">

  <p>
    {{ credential.exchange }}

    <button mat-icon-button type="button" color="primary" (click)="deleteCredential()" *ngIf="credential.api_key">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>

    <button mat-icon-button color="primary" *ngIf="!credential.api_key">
      <mat-icon fontIcon="add"></mat-icon>
    </button>

    <button mat-icon-button type="button" color="primary" (click)="activateCredential()"
      *ngIf="credential.api_key && !credential.active" title="reactivate credential">
      <mat-icon fontIcon="refresh"></mat-icon>
    </button>

    <button mat-icon-button type="button" color="primary" (click)="deactivateCredential()"
      *ngIf="credential.api_key && credential.active">
      <mat-icon fontIcon="stop"></mat-icon>
    </button>

  </p>

  <p>
    <mat-form-field>
      <mat-label>API Key</mat-label>
      <input matInput name="api_key" formControlName="api_key" required autocomplete="off" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>API Secret</mat-label>
      <input matInput name="api_secret" formControlName="api_secret" required autocomplete="off" />
    </mat-form-field>
  </p>

</form>
