<form [formGroup]="form" *ngIf="credential" (ngSubmit)="addCredential()">

  <p>
    {{ credential.exchange }}

    <button
      type="button"
      (click)="deleteCredential()"
      *ngIf="credential.api_key"
    >
      <mat-icon class="icon-display" fontIcon="delete" ></mat-icon>
    </button>

    <button *ngIf="!credential.api_key">
      <mat-icon class="icon-display" fontIcon="add"></mat-icon>
    </button>

  </p>

  <p>
    <mat-form-field>
      <input
        matInput
        placeholder="key"
        formControlName="api_key"
        required
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="secret"
        formControlName="api_secret"
        required
      />
    </mat-form-field>
  </p>

</form>
